/**/*
!/**/
/venv/
!*.ipynb
!*.gitignore
!*.md
!*.bat
!*.py
!*.yml
!*.ui
!*.yaml
!*.sbatch
mst/**
!scripts/**

!requirements.txt
!version.txt

/docs/build
!/docs/Makefile

/build/

/runs 
/results*
/wandb
!/media/**